<h1>
    Spell the missing word:
    <span class="score" *ngIf="checking">Your score is: {{score}}%</span>
</h1>

<div class="guessed">
    <span *ngFor="let l of guessedLetters; let i=index"
          [class]="letterState(i)"
          (click)="clickedGuess(i);">
        {{ l.index == -1 ? ' ' : scrambledWord[l.index] }}
    </span>
</div>

<div class="letters">
    <button *ngFor="let l of scrambledWord; let i=index"
            [class]="buttonState(i)"
            (click)="clickedLetter(i);">
        {{l}}
    </button>
</div>

<div class="tab">
    <div class="progress-button">
        <button *ngIf="!checking" (click)="hint()">Hint</button>
    </div>
    <div class="progress-button">
        <button (click)="check()">{{checking ? "Done" : "Check"}}</button>
    </div>
</div>