html, body{
  height: 100%;
  font-family: "Bariol Serif", serif;
}

span.active {
  background-color: gray;
}

app {
  position: absolute;
  height: 100%;
  margin: auto;
  left: 0;
  right: 0;
  display: block;
  overflow: hidden;
  background: #fff;
}

@media screen {
  app {
    width: 768px;
  }
}
